<ul>
    <li>Encabezado con los datos del punto 1.a.i</li>
    <li>Datos relevantes del Cliente punto 1.a.ii</li>
    <li>Datos Recepción de Equipo punto 1.a.iii</li>
    <li>Datos "Datos Ficha Tecnica" 1.a.iv</li>
    <li>Datos Recepción de Equipo punto 1.a.iii</li>
    <li>Datos de “Diagnóstico y Soluciones” punto 1.a.v</li>
    <li>Datos Faltantes "Datos Ficha Tecnica" 1.a.vi</li>
</ul>